.about {
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-right {
    flex: 1;
}

.about-card{
    width: 50%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-card.bg {
    position: absolute;
    top: 40px;
    left: 190px;
    background-color: rgb(47, 46, 46);
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-title {
    font-size: 60px;
}

.about-description {
    font-weight: 100;
    font-size: 30px
}